body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.shimmer-container {
  display: block;
  justify-content: center;
  align-items: center;
}
.shimmer-resturants {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.shimmer-search {
  width: 55%;
  height: 2rem;
  margin: auto;
  background-color: lightgray;
  align-items: center;
  text-align: center;
}

.shimmer-card {
  width: 208px;
  height: 288px;
  background-color: lightgray;
  margin: 1rem;
}
